// _config.scss
$font-stack: Arial, Helvetica, sans-serif;
$light-color: #f4f4f4;
$primary-color: #232F3E;
$secondary-color: #1652F0;

// Set text color based on bg
@function set-text-color($color) {
  @if(lightness($color) > 70) {
    @return #333;
  } @else {
    @return #fff;
  }
}


// Set background & text-color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

// _style.scss
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: $light-color;
  font-size: 1.6rem;
  font-family: $font-stack;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.showcase {
  @include set-background($primary-color);
  height: 60rem;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  ul {
    display: flex;
    list-style-type: none;
  }
  
  li {
    padding: 1.5rem;
  }
  
  a {
    color: set-text-color($primary-color);
  }
  
  a:hover {
    color: $secondary-color
  }
  }
  
  &-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
  
    img {
      width: 50%;
    }
    
    h1 {
      font-size: 5rem;
      text-transform: uppercase;
      line-height: 1.2;
    }
  }
}

// _utilities.scss
.container {
  max-width: 110rem;
  padding: 0 .3rem;
  margin: 0 auto;
  overflow: auto;
}

// Margin & padding classes
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem;
  }

  .p-#{$space} {
    padding: #{$space}rem 0;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}

// _buttons.scss
%btn {
  display: inline-block;
  border-radius: .5rem;
  padding: .8rem 2.0rem;
  margin: .3rem;

  &-hover {
    transform: scale(.98);
  }
}

.btn-primary {
  @extend %btn;
  @include set-background(lighten($primary-color, 10%));
}

.btn-secondary {
  @extend %btn;
  @include set-background(lighten($secondary-color, 10%));
}

// _mobile.scss
@media(max-width: 70rem) {
  .showcase {
    height: 40rem;

    &-content {
      text-align: center;

      img {
        display: none;
      }
    }
  }
}